sqlalchemy~=1.4.0
alembic~=1.7.0
psycopg2-binary~=2.9.0
apscheduler~=3.7.0
python-json-logger~=2.0.0
sqlalchemy-utils~=0.37.0
faker~=8.0.0
backports.zoneinfo;python_version<"3.9"
redis~=4.5
asyncpg~=0.28.0  # last release with Python 3.8 support
tensorflow-transform==0.24.1
tensorflow==2.3.0
xgboost==1.2.0
scikit-learn==0.23.2
matplotlib==3.3.4
apache-beam[gcp]==2.24.0
PyYAML~=6.0
